extends layout.pug

block content
	// TOP NAVIGATION
	nav.topNav
		a(href='#home')
			img.logoTopNav(src='images/logo_dark.svg', alt='Textum Logo')
		span.selected Customer Map
		ul#nav.pull-right
			li
				a.borderHover(href='http://www.textum-stoffe.com/' target="_blank") HOME

	div.content
		form#countries(action='/map', method='post')
			button.btn.btn-default(type='submit') Load Map

			script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")