extends layout.pug

block content
	// TOP NAVIGATION
	nav.topNav.mapNav
		a(href='/')
			img.logoTopNav(src='images/logo_dark.svg', alt='Textum Logo')
		span.selected= selectedCountry
		ul#nav.pull-right
			li
				a.borderHover(href='index.php') HOME

	//h1.title= selectedCountry

	#map
	#footer
		a(href="/")
			button.btn.btn-default.btn-back(type='submit') Go Back

	script(type='text/javascript').
		var locObj =!{JSON.stringify(locations)}
	script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
	script(src="../javascripts/common.js")
	script(src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js")
	script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBU6zxAC353xO1HDp54TJHNj2NGvwwIdRs&callback=initMap")
