html{
	background-color: #292929;	
}
.title{
	color:#fff;
	font-family: 'Lucida Sans Std Roman', sans-serif;	
	text-align: center;
	font-size:1.6em;
}
#wrapper{
	background-color: #292929;
  width:100vw;	
}

nav.topNav{
  width: 100vw;
  border-bottom: 1px solid #b5152b;
  overflow: hidden; 
  background: #fff;
}

.topNav ul{
  padding-right:20px;
  float:right;
  margin-bottom: 0px;
}

.topNav ul li{
  display: inline-block;
}

.topNav ul li a{
  font-size: 14px;
  color: #292929;
  text-decoration: none;
  font-family: 'Lucida Sans Std Roman', sans-serif;
  line-height: 67px;
  display: block;
   padding:0 10px;
}

.topNavVisible{
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in;
     -moz-transition: opacity 0.3s ease-in;
      -ms-transition: opacity 0.3s ease-in;
       -o-transition: opacity 0.3s ease-in;
          transition: opacity 0.3s ease-in;
}

.topNavHidden{
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in;
     -moz-transition: opacity 0.3s ease-in;
      -ms-transition: opacity 0.3s ease-in;
       -o-transition: opacity 0.3s ease-in;
          transition: opacity 0.3s ease-in;
}

.borderHover{
  position: relative;
  color: #999999;
}

.borderHover:before{
  display: block;
  width: 0;
  height: 2px;
  margin-left:-5%;
  background-color: #b5152b;
  content: "";
  transition: width 0.5s;
}

.borderHover:hover{
  color: #b5152b;
  text-decoration: none;
}

.borderHover:hover:before{
  width: 110%;
}

.logoTopNav{
  float:left;
  width:320px;
  padding:10px;
}




.content{
	padding-top:5%;
  width:100vw;
}
.content form{
  margin: 0 auto;
	background-color:#eee;
	width:80%;
	color:black;
	padding:5%;
	border:3px solid #fff;
  border-radius: 3px;
}
.content label{
	display:block;
	color:#000;
	text-align:left;
	font-size:2em;
	font-family: 'Lucida Sans Std Roman', sans-serif;
	font-weight:normal;
}
.content select{
	width:100%;
	-webkit-appearance: menulist-button;
	height:45px;
	font-size:1.5em;
	font-family: 'Lucida Sans Std Roman', sans-serif;
}
.content button{
	text-align:center;	
	height:45px;
	font-size:1.5em;
	font-family: 'Lucida Sans Std Roman', sans-serif;
	background-color:#b5152b;
	color:#fff;
}
.content button:hover{
	background-color:#8b1425;
	color:#fff;
}


#map{
	width:100vw;
	height:80vh;
}
.circle{
  display:inline-block;
  width:20px;
  height:20px;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
}
.alert-message{
  position:relative !important;
  bottom:3px !important;
  left:3px !important;
}
.alert-message-bold{
  left:3px !important;
  font-weight:bold !important; 
  text-decoration:none;
}
.green{color: #6ea045 !important}
.yellow{color: #cdbc50 !important}
.red{color: #a94442 !important}

.alert-message-bold:hover{
  text-decoration:none;
}
#footer{
  height:8vh;
  background-color:#292929;
  text-align:center;
}
.btn-back{
  margin-top:30px;
}
.selected{
    position: relative;
    top: 12px;
    color:#b5152b;
    font-weight:bold;
    font-style: italic;
    font-family:'Palatino', serif;
}

@media (max-width: 768px) {
  .content form{width:90%; margin-top:10%;}
  .content label{font-size:3em;}
  .content select{height:100px;font-size:2.5em;}
  .content button{font-size:2.5em;height:80px;}
  .logoTopNav{width:400px;}
  .topNav ul{display:none;}
}
@media (max-width:600px){
  .mapNav{display:none;}
  #map{height:90vh;}
  #footer{height:5vh;}
  .btn-back{margin-top:10px;}
}
